<div class="jumbotron center">

<h1>Welcome to Wallster!</h1>
<br />

<% if user_signed_in? %>
Do something<br/>
such as<br/>
Experience this <a href="https://gamebucketio.s3.amazonaws.com/LEGACY/PUBLIC/1921a3ea-e50c-4291-9d22-42f212877038/Text101%20Web%20Build%20v1/Text101%20Web%20Build%20v1.html" target="_blank">awesome game!</a><br>
<%else%>

<p>Click here to <%= link_to "Login" , new_user_session_path, class: "btn btn-default btn-lg" %>
	<%= link_to "Signup", new_user_registration_path, class: "signup btn btn-primary btn-lg" %>
</p>
<br/>
<h3>Get rich, go travel the world, become the Prime Minister. <br/><br/> All this is possible (and free) with Wallster.</h3>

<%end%>
</div>
